# App
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Admin
NEXT_PUBLIC_ADMIN_WHATSAPP=03123456789
NEXT_PUBLIC_ADMIN_WHATSAPP_LINK=923123456789
ADMIN_NOTIFICATION_EMAIL=admin@example.com

# Email via Resend
RESEND_API_KEY=re_xxxxxxxxxxxxx
RESEND_FROM_EMAIL=no-reply@example.com
CONTACT_EMAIL=contact@example.com
